@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@500;600&display=swap");
/* Base styles */
body {
  min-height: 100vh;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body > * {
  color: #fff;
  font-family: open-sans, Arial, sans-serif;
  padding: 0;
  margin: 0;
  padding: 0 35px;
}

h1,
h2,
h3 {
  font-family: "Mukta", helvetica, sans-serif;
}

h1 {
  font-size: 2.81rem;
  line-height: 1.3;
}

h2 {
  color: #41465a;
  font-size: 2.25rem;
}

h3 {
  font-size: 1.25rem;
}

h6 {
  font-size: 0.85rem;
}

h6,
a {
  color: #fff;
}

/* Button classes */
.btn {
  display: inline-block;
  background-color: #2f74ff;
  text-decoration: none;
  padding: 0.8rem 1rem;
  border: 0;
  border-radius: 5px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-box-shadow: 0px 5px 25px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 25px 1px rgba(0, 0, 0, 0.25);
  font-family: open-sans, Arial, sans-serif;
  font-weight: 600;
}

.btn::after {
  content: ">";
  padding-left: 1rem;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.cta {
  background-color: #0fc382;
  font-size: 0.775rem;
}

.btn:hover {
  background-color: #2f74ff;
  -webkit-box-shadow: 0px 10px 25px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 25px 3px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

/* Navbar/Header styles */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 81px;
  margin-bottom: 54px;
}

header .logo {
  margin-right: auto;
}

header .logo:hover {
  opacity: 0.6;
}

header nav ul,
header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

header nav ul li a {
  text-decoration: none;
  opacity: 0.6;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-left: 27px;
  -webkit-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
}

header nav ul li a:hover {
  opacity: 1;
}

header div .btn.cta {
  margin-left: 27px;
}

#main-footer {
  justify-self: flex-end;
  background-color: #323646;
  padding-top: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main-footer #footer-logo-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
}

#main-footer a {
  text-decoration: none;
}

#main-footer a.logo img {
  height: 41px;
  width: auto;
  display: inline-block;
  margin-right: 27px;
}

#main-footer div.footer-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  margin-bottom: 81px;
  margin-right: 27px;
}

#main-footer div.footer-block h6 {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 6.75px;
}

#main-footer div.footer-block ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

#main-footer div.footer-block ul a {
  line-height: 1.7;
  color: #7b82a0;
}

/* Main banner styles */
#banner-bg {
  background-image: linear-gradient(120deg, #2412b1 0%, #275cc7 45%, #0fc382 100%);
  padding-bottom: 135px;
}

#main-banner h1 {
  font-weight: 600;
  margin-bottom: 27px;
  max-width: 530px;
}

#main-banner p {
  font-size: 1.125rem;
  line-height: 1.7rem;
  opacity: 0.75;
  max-width: 50%;
  margin-bottom: 54px;
}

#main-banner .btn.cta {
  margin-bottom: 27px;
  padding: 0.95rem 1.15rem;
}

#main-banner span {
  display: block;
  font-size: 0.8rem;
  margin-left: 6px;
  margin-top: -6px;
}

.happy-customers {
  padding-bottom: 108px;
}

.happy-customers h5 {
  text-transform: uppercase;
  color: #41465a;
  line-height: 4;
  letter-spacing: 1px;
  margin: 54px 0 27px;
}

.happy-customers ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.happy-customers ul li {
  margin-bottom: 27px;
  text-align: center;
}

.happy-customers ul li img {
  display: inline-block;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  height: 27px;
}

.happy-customers ul li img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  opacity: 1;
}

.happy-customers ul li img.smaller-img {
  height: 18px;
}

span#text-division {
  display: block;
  padding-bottom: 81px;
  text-align: center;
  font-size: 1.95rem;
  line-height: 1.5;
  font-family: open-sans, Arial, sans-serif;
  color: #41465a;
}

span#text-division a {
  display: block;
  color: #2f74ff;
  text-decoration: none;
}

#how-it-works {
  padding-bottom: 108px;
}

#how-it-works h2 {
  font-weight: normal;
  margin-bottom: 54px;
}

#how-it-works ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #707070;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#how-it-works ol li {
  margin-right: 54px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#how-it-works ol li img {
  width: 65px;
  background-color: #7ca7ff;
  border-radius: 30%;
}

#how-it-works ol li h3 {
  margin-bottom: 54px;
}

#how-it-works ol li p {
  font-size: 1.15rem;
  line-height: 1.5;
  font-weight: lighter;
  color: #8a8a8a;
}

#client-reviews h2 {
  font-weight: lighter;
}

#client-review-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 108px;
}

#client-review-container .client-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

#client-review-container .client-review:hover {
  -webkit-box-shadow: 0px 10px 25px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 25px 3px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

#client-review-container .client-review img:first-child {
  border-radius: 3px;
  border: none;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 27px;
}

#client-review-container .client-review img:nth-of-type(2) {
  height: 40px;
  max-width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0 27px;
}

#client-review-container .client-review img:nth-of-type(2).smaller {
  height: 31px;
}

#client-review-container .client-review p {
  color: #6e7da2;
  font-size: 1.05rem;
  line-height: 1.55;
  letter-spacing: 0.3px;
  padding: 7.25px 27px 27px;
  margin: 0;
}

#trial-ad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 108px;
  padding-bottom: 216px;
}

#trial-ad img {
  height: 150px;
}

#trial-ad span {
  padding: 54px 0 27px;
  color: #41465a;
  font-size: 1.85rem;
}

#trial-ad a.btn {
  padding: 16px 22px;
}
/*# sourceMappingURL=index.css.map */